In [4]:
import pandas as pd
import numpy as np
# t_click = pd.read_csv('data/t_click.csv')
t_loan = pd.read_csv('data/t_loan.csv')
# t_loan_sum = pd.read_csv('data/t_loan_sum.csv')
# t_order = pd.read_csv('data/t_order.csv')
# s_t_order = pd.read_csv('sorted_order.csv')
t_user = pd.read_csv('data/t_user.csv')

In [28]:
t_loan_sum = pd.read_csv('feature_extraction/trainProcessed/exp_t_loan_sum.csv')
t_loan_11 = pd.read_csv('feature_extraction/trainProcessed/t_loan_11_sum.csv')

In [29]:
merge_11 = pd.merge(t_loan_sum,t_loan_11,on='uid')

In [22]:
merge_11.to_csv('feature_extraction/trainProcessed/loan_merge_11.csv')

In [30]:
(merge_11['loan_sum'] - merge_11['11_loan_amount']) > 0.01

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
19490    False
19491    False
19492    False
19493    False
19494    False
19495    False
19496    False
19497    False
19498    False
19499    False
19500    False
19501    False
19502    False
19503    False
19504    False
19505    False
19506    False
19507    False
19508    False
19509    False
19510    False
19511    False
19512    False
19513    False
19514    False
19515    False
19516    False
19517    False
19518    False
19519    False
Length: 19520, dtype: bool

In [33]:
merge_11[abs(merge_11['loan_sum'] - merge_11['11_loan_amount']) > 0.01]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>uid</th>
      <th>month</th>
      <th>loan_sum</th>
      <th>exp_loan_sum</th>
      <th>11_loan_amount</th>
      <th>11_plannum</th>
      <th>11_exp_loan_amount</th>
      <th>11_one_plan_loan</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>39</td>
      <td>2016-11</td>
      <td>5.464626</td>
      <td>236.187529</td>
      <td>29.301829</td>
      <td>84</td>
      <td>480.450728</td>
      <td>2.441819</td>
    </tr>
    <tr>
      <th>8</th>
      <td>45</td>
      <td>2016-11</td>
      <td>6.292055</td>
      <td>540.262173</td>
      <td>16.737691</td>
      <td>3</td>
      <td>810.271463</td>
      <td>16.737691</td>
    </tr>
    <tr>
      <th>14</th>
      <td>68</td>
      <td>2016-11</td>
      <td>5.781982</td>
      <td>324.401601</td>
      <td>10.558980</td>
      <td>18</td>
      <td>410.896575</td>
      <td>1.345260</td>
    </tr>
    <tr>
      <th>17</th>
      <td>72</td>
      <td>2016-11</td>
      <td>4.885961</td>
      <td>132.417690</td>
      <td>8.877098</td>
      <td>24</td>
      <td>171.109199</td>
      <td>0.739758</td>
    </tr>
    <tr>
      <th>18</th>
      <td>73</td>
      <td>2016-11</td>
      <td>5.351362</td>
      <td>210.895379</td>
      <td>21.536643</td>
      <td>60</td>
      <td>382.111825</td>
      <td>1.794720</td>
    </tr>
    <tr>
      <th>22</th>
      <td>87</td>
      <td>2016-11</td>
      <td>5.931813</td>
      <td>376.836937</td>
      <td>23.840307</td>
      <td>12</td>
      <td>658.998565</td>
      <td>16.234418</td>
    </tr>
    <tr>
      <th>23</th>
      <td>89</td>
      <td>2016-11</td>
      <td>5.240357</td>
      <td>188.737437</td>
      <td>13.471263</td>
      <td>36</td>
      <td>278.737964</td>
      <td>1.122605</td>
    </tr>
    <tr>
      <th>24</th>
      <td>92</td>
      <td>2016-11</td>
      <td>4.974843</td>
      <td>144.726094</td>
      <td>9.015668</td>
      <td>7</td>
      <td>185.667292</td>
      <td>5.079820</td>
    </tr>
    <tr>
      <th>29</th>
      <td>116</td>
      <td>2016-11</td>
      <td>6.747087</td>
      <td>851.574833</td>
      <td>26.436171</td>
      <td>20</td>
      <td>1362.883968</td>
      <td>12.752211</td>
    </tr>
    <tr>
      <th>31</th>
      <td>121</td>
      <td>2016-11</td>
      <td>6.735022</td>
      <td>841.362397</td>
      <td>43.082375</td>
      <td>13</td>
      <td>1813.916558</td>
      <td>39.146527</td>
    </tr>
    <tr>
      <th>32</th>
      <td>126</td>
      <td>2016-11</td>
      <td>6.328258</td>
      <td>560.179702</td>
      <td>24.714230</td>
      <td>13</td>
      <td>911.632152</td>
      <td>12.221195</td>
    </tr>
    <tr>
      <th>33</th>
      <td>133</td>
      <td>2016-11</td>
      <td>6.949280</td>
      <td>1042.399313</td>
      <td>12.935349</td>
      <td>15</td>
      <td>1330.086065</td>
      <td>2.631103</td>
    </tr>
    <tr>
      <th>34</th>
      <td>138</td>
      <td>2016-11</td>
      <td>6.153414</td>
      <td>470.320255</td>
      <td>11.445537</td>
      <td>2</td>
      <td>611.500360</td>
      <td>11.445537</td>
    </tr>
    <tr>
      <th>35</th>
      <td>139</td>
      <td>2016-11</td>
      <td>6.316423</td>
      <td>553.589131</td>
      <td>35.604166</td>
      <td>7</td>
      <td>1148.174958</td>
      <td>35.604166</td>
    </tr>
    <tr>
      <th>36</th>
      <td>142</td>
      <td>2016-11</td>
      <td>6.584075</td>
      <td>723.481432</td>
      <td>22.891073</td>
      <td>15</td>
      <td>1223.000719</td>
      <td>17.645202</td>
    </tr>
    <tr>
      <th>38</th>
      <td>159</td>
      <td>2016-11</td>
      <td>6.362467</td>
      <td>579.674614</td>
      <td>11.863625</td>
      <td>24</td>
      <td>753.673875</td>
      <td>0.988635</td>
    </tr>
    <tr>
      <th>39</th>
      <td>170</td>
      <td>2016-11</td>
      <td>5.292154</td>
      <td>198.771103</td>
      <td>17.674048</td>
      <td>48</td>
      <td>334.523163</td>
      <td>1.472837</td>
    </tr>
    <tr>
      <th>43</th>
      <td>182</td>
      <td>2016-11</td>
      <td>5.455141</td>
      <td>233.957936</td>
      <td>13.990562</td>
      <td>3</td>
      <td>340.304233</td>
      <td>13.990562</td>
    </tr>
    <tr>
      <th>45</th>
      <td>188</td>
      <td>2016-11</td>
      <td>5.153538</td>
      <td>173.042652</td>
      <td>9.446034</td>
      <td>4</td>
      <td>225.014311</td>
      <td>6.297356</td>
    </tr>
    <tr>
      <th>46</th>
      <td>191</td>
      <td>2016-11</td>
      <td>6.316423</td>
      <td>553.589131</td>
      <td>16.850953</td>
      <td>30</td>
      <td>834.109160</td>
      <td>1.854697</td>
    </tr>
    <tr>
      <th>47</th>
      <td>193</td>
      <td>2016-11</td>
      <td>4.544373</td>
      <td>94.101444</td>
      <td>11.587784</td>
      <td>5</td>
      <td>142.765987</td>
      <td>9.012721</td>
    </tr>
    <tr>
      <th>48</th>
      <td>201</td>
      <td>2016-11</td>
      <td>6.292055</td>
      <td>540.262173</td>
      <td>11.721811</td>
      <td>6</td>
      <td>702.300735</td>
      <td>3.907270</td>
    </tr>
    <tr>
      <th>49</th>
      <td>202</td>
      <td>2016-11</td>
      <td>6.104976</td>
      <td>448.081953</td>
      <td>29.514510</td>
      <td>6</td>
      <td>862.018197</td>
      <td>29.514510</td>
    </tr>
    <tr>
      <th>51</th>
      <td>215</td>
      <td>2016-11</td>
      <td>5.153538</td>
      <td>173.042652</td>
      <td>13.308318</td>
      <td>36</td>
      <td>258.827430</td>
      <td>1.109027</td>
    </tr>
    <tr>
      <th>55</th>
      <td>239</td>
      <td>2016-11</td>
      <td>6.629009</td>
      <td>756.731992</td>
      <td>27.865916</td>
      <td>60</td>
      <td>1367.726813</td>
      <td>2.322160</td>
    </tr>
    <tr>
      <th>57</th>
      <td>258</td>
      <td>2016-11</td>
      <td>7.014744</td>
      <td>1112.921338</td>
      <td>24.004320</td>
      <td>14</td>
      <td>1785.913936</td>
      <td>14.615294</td>
    </tr>
    <tr>
      <th>64</th>
      <td>295</td>
      <td>2016-11</td>
      <td>6.266691</td>
      <td>526.731763</td>
      <td>16.321851</td>
      <td>8</td>
      <td>755.518902</td>
      <td>12.027236</td>
    </tr>
    <tr>
      <th>65</th>
      <td>298</td>
      <td>2016-11</td>
      <td>5.153538</td>
      <td>173.042652</td>
      <td>16.740857</td>
      <td>4</td>
      <td>280.844617</td>
      <td>16.740857</td>
    </tr>
    <tr>
      <th>66</th>
      <td>315</td>
      <td>2016-11</td>
      <td>4.723017</td>
      <td>112.507155</td>
      <td>8.406968</td>
      <td>2</td>
      <td>141.690107</td>
      <td>8.406968</td>
    </tr>
    <tr>
      <th>70</th>
      <td>334</td>
      <td>2016-11</td>
      <td>6.747087</td>
      <td>851.574833</td>
      <td>23.352040</td>
      <td>6</td>
      <td>1414.392514</td>
      <td>19.536861</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>19456</th>
      <td>90655</td>
      <td>2016-11</td>
      <td>6.640462</td>
      <td>765.448847</td>
      <td>27.765826</td>
      <td>42</td>
      <td>1363.222615</td>
      <td>3.682869</td>
    </tr>
    <tr>
      <th>19457</th>
      <td>90661</td>
      <td>2016-11</td>
      <td>6.121545</td>
      <td>455.568084</td>
      <td>16.078975</td>
      <td>3</td>
      <td>672.381270</td>
      <td>16.078975</td>
    </tr>
    <tr>
      <th>19458</th>
      <td>90670</td>
      <td>2016-11</td>
      <td>5.931813</td>
      <td>376.836937</td>
      <td>10.949465</td>
      <td>24</td>
      <td>485.148668</td>
      <td>0.912455</td>
    </tr>
    <tr>
      <th>19461</th>
      <td>90676</td>
      <td>2016-11</td>
      <td>5.781982</td>
      <td>324.401601</td>
      <td>10.015419</td>
      <td>12</td>
      <td>378.910317</td>
      <td>1.669237</td>
    </tr>
    <tr>
      <th>19462</th>
      <td>90681</td>
      <td>2016-11</td>
      <td>5.657311</td>
      <td>286.377565</td>
      <td>14.559648</td>
      <td>10</td>
      <td>416.657334</td>
      <td>6.832957</td>
    </tr>
    <tr>
      <th>19463</th>
      <td>90685</td>
      <td>2016-11</td>
      <td>6.405333</td>
      <td>605.063335</td>
      <td>11.903527</td>
      <td>18</td>
      <td>779.969685</td>
      <td>1.473792</td>
    </tr>
    <tr>
      <th>19464</th>
      <td>90687</td>
      <td>2016-11</td>
      <td>5.153538</td>
      <td>173.042652</td>
      <td>9.105346</td>
      <td>4</td>
      <td>212.185932</td>
      <td>5.749317</td>
    </tr>
    <tr>
      <th>19465</th>
      <td>90688</td>
      <td>2016-11</td>
      <td>5.153538</td>
      <td>173.042652</td>
      <td>13.308318</td>
      <td>30</td>
      <td>258.827430</td>
      <td>1.466747</td>
    </tr>
    <tr>
      <th>19469</th>
      <td>90715</td>
      <td>2016-11</td>
      <td>4.405830</td>
      <td>81.927113</td>
      <td>7.933897</td>
      <td>9</td>
      <td>106.221919</td>
      <td>1.966082</td>
    </tr>
    <tr>
      <th>19472</th>
      <td>90722</td>
      <td>2016-11</td>
      <td>6.405333</td>
      <td>605.063335</td>
      <td>11.584208</td>
      <td>2</td>
      <td>739.033276</td>
      <td>11.584208</td>
    </tr>
    <tr>
      <th>19473</th>
      <td>90723</td>
      <td>2016-11</td>
      <td>4.809815</td>
      <td>122.708951</td>
      <td>8.698532</td>
      <td>2</td>
      <td>157.799814</td>
      <td>8.698532</td>
    </tr>
    <tr>
      <th>19477</th>
      <td>90751</td>
      <td>2016-11</td>
      <td>4.723017</td>
      <td>112.507155</td>
      <td>12.017840</td>
      <td>18</td>
      <td>168.337462</td>
      <td>2.002973</td>
    </tr>
    <tr>
      <th>19478</th>
      <td>90756</td>
      <td>2016-11</td>
      <td>6.866314</td>
      <td>959.405557</td>
      <td>23.519806</td>
      <td>42</td>
      <td>1558.894693</td>
      <td>2.389445</td>
    </tr>
    <tr>
      <th>19481</th>
      <td>90768</td>
      <td>2016-11</td>
      <td>6.425706</td>
      <td>617.516588</td>
      <td>16.768035</td>
      <td>36</td>
      <td>882.337832</td>
      <td>1.397336</td>
    </tr>
    <tr>
      <th>19485</th>
      <td>90798</td>
      <td>2016-11</td>
      <td>5.405416</td>
      <td>222.608801</td>
      <td>25.577571</td>
      <td>10</td>
      <td>434.330655</td>
      <td>19.854036</td>
    </tr>
    <tr>
      <th>19486</th>
      <td>90803</td>
      <td>2016-11</td>
      <td>6.052441</td>
      <td>425.149406</td>
      <td>28.867469</td>
      <td>10</td>
      <td>801.095730</td>
      <td>22.190689</td>
    </tr>
    <tr>
      <th>19490</th>
      <td>90833</td>
      <td>2016-11</td>
      <td>6.712697</td>
      <td>822.786798</td>
      <td>148.374777</td>
      <td>33</td>
      <td>3047.033318</td>
      <td>148.374777</td>
    </tr>
    <tr>
      <th>19492</th>
      <td>90846</td>
      <td>2016-11</td>
      <td>5.394975</td>
      <td>220.296613</td>
      <td>13.624350</td>
      <td>3</td>
      <td>315.837173</td>
      <td>13.624350</td>
    </tr>
    <tr>
      <th>19493</th>
      <td>90847</td>
      <td>2016-11</td>
      <td>6.153414</td>
      <td>470.320255</td>
      <td>11.445537</td>
      <td>2</td>
      <td>611.500360</td>
      <td>11.445537</td>
    </tr>
    <tr>
      <th>19494</th>
      <td>90852</td>
      <td>2016-11</td>
      <td>4.782208</td>
      <td>119.367639</td>
      <td>12.131019</td>
      <td>3</td>
      <td>177.104438</td>
      <td>12.131019</td>
    </tr>
    <tr>
      <th>19499</th>
      <td>90876</td>
      <td>2016-11</td>
      <td>6.990996</td>
      <td>1086.803177</td>
      <td>79.523130</td>
      <td>15</td>
      <td>3022.529308</td>
      <td>79.523130</td>
    </tr>
    <tr>
      <th>19502</th>
      <td>90893</td>
      <td>2016-11</td>
      <td>6.464551</td>
      <td>641.975922</td>
      <td>12.067786</td>
      <td>2</td>
      <td>834.673182</td>
      <td>12.067786</td>
    </tr>
    <tr>
      <th>19503</th>
      <td>90903</td>
      <td>2016-11</td>
      <td>6.643293</td>
      <td>767.618614</td>
      <td>37.840849</td>
      <td>7</td>
      <td>1585.983262</td>
      <td>37.840849</td>
    </tr>
    <tr>
      <th>19505</th>
      <td>90908</td>
      <td>2016-11</td>
      <td>6.316423</td>
      <td>553.589131</td>
      <td>11.771540</td>
      <td>2</td>
      <td>719.759616</td>
      <td>11.771540</td>
    </tr>
    <tr>
      <th>19507</th>
      <td>90916</td>
      <td>2016-11</td>
      <td>5.885770</td>
      <td>359.879808</td>
      <td>10.876291</td>
      <td>2</td>
      <td>464.941585</td>
      <td>10.876291</td>
    </tr>
    <tr>
      <th>19508</th>
      <td>90918</td>
      <td>2016-11</td>
      <td>5.722768</td>
      <td>305.750180</td>
      <td>10.584308</td>
      <td>2</td>
      <td>397.542207</td>
      <td>10.584308</td>
    </tr>
    <tr>
      <th>19511</th>
      <td>90942</td>
      <td>2016-11</td>
      <td>6.279502</td>
      <td>533.523109</td>
      <td>48.502937</td>
      <td>18</td>
      <td>1147.622258</td>
      <td>42.063961</td>
    </tr>
    <tr>
      <th>19515</th>
      <td>90971</td>
      <td>2016-11</td>
      <td>5.405416</td>
      <td>222.608801</td>
      <td>9.584805</td>
      <td>4</td>
      <td>271.931241</td>
      <td>6.056702</td>
    </tr>
    <tr>
      <th>19518</th>
      <td>90990</td>
      <td>2016-11</td>
      <td>6.292055</td>
      <td>540.262173</td>
      <td>52.165242</td>
      <td>77</td>
      <td>1309.586497</td>
      <td>25.436100</td>
    </tr>
    <tr>
      <th>19519</th>
      <td>90991</td>
      <td>2016-11</td>
      <td>7.059678</td>
      <td>1164.070839</td>
      <td>13.258018</td>
      <td>2</td>
      <td>1513.463985</td>
      <td>13.258018</td>
    </tr>
  </tbody>
</table>
<p>9255 rows × 8 columns</p>
</div>

In [32]:
merge_11.drop(['Unnamed: 0_x','Unnamed: 0_y'],axis=1,inplace=True)

In [34]:
t_loan_11 = t_loan[(t_loan['loan_time'] >= "2016-11-01 00:00:00") & (t_loan['loan_time'] < "2016-12-01 00:00:00")]
t_loan_11['one_plan_loan'] = t_loan_11['loan_amount'] / t_loan_11['plannum']

/home/liwenjie/.pyenv/versions/anaconda3-4.3.1/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [38]:
t_loan_11[t_loan_11['uid'] == 39]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>uid</th>
      <th>loan_time</th>
      <th>loan_amount</th>
      <th>plannum</th>
      <th>one_plan_loan</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>200803</th>
      <td>39</td>
      <td>2016-11-24 11:19:02</td>
      <td>112.507155</td>
      <td>12</td>
      <td>9.375596</td>
    </tr>
    <tr>
      <th>63954</th>
      <td>39</td>
      <td>2016-11-18 12:30:45</td>
      <td>73.160137</td>
      <td>12</td>
      <td>6.096678</td>
    </tr>
    <tr>
      <th>199290</th>
      <td>39</td>
      <td>2016-11-18 12:29:49</td>
      <td>73.160137</td>
      <td>12</td>
      <td>6.096678</td>
    </tr>
    <tr>
      <th>95889</th>
      <td>39</td>
      <td>2016-11-11 23:25:22</td>
      <td>73.160137</td>
      <td>12</td>
      <td>6.096678</td>
    </tr>
    <tr>
      <th>163460</th>
      <td>39</td>
      <td>2016-11-11 12:22:50</td>
      <td>53.285837</td>
      <td>12</td>
      <td>4.440486</td>
    </tr>
    <tr>
      <th>164042</th>
      <td>39</td>
      <td>2016-11-13 10:41:49</td>
      <td>47.588662</td>
      <td>12</td>
      <td>3.965722</td>
    </tr>
    <tr>
      <th>95188</th>
      <td>39</td>
      <td>2016-11-09 10:46:56</td>
      <td>47.588662</td>
      <td>12</td>
      <td>3.965722</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
t_loan['loan_amount'] = np.exp(t_loan['loan_amount'])
t_loan.to_csv('exp_t_loan.csv')
t_loan = t_loan.sort_values(['loan_amount'],ascending=False)
t_loan.to_csv('sorted_exp_t_loan.csv')

In [6]:
t_loan

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>uid</th>
      <th>loan_time</th>
      <th>loan_amount</th>
      <th>plannum</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>32067</th>
      <td>81641</td>
      <td>2016-11-25 10:53:52</td>
      <td>1966.601992</td>
      <td>1</td>
    </tr>
    <tr>
      <th>45828</th>
      <td>81641</td>
      <td>2016-09-14 13:49:51</td>
      <td>1966.601992</td>
      <td>1</td>
    </tr>
    <tr>
      <th>164671</th>
      <td>10071</td>
      <td>2016-11-15 16:53:50</td>
      <td>1966.601992</td>
      <td>6</td>
    </tr>
    <tr>
      <th>149723</th>
      <td>10071</td>
      <td>2016-09-22 22:41:42</td>
      <td>1278.431230</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4017</th>
      <td>70529</td>
      <td>2016-08-17 10:05:41</td>
      <td>1278.431230</td>
      <td>3</td>
    </tr>
    <tr>
      <th>163650</th>
      <td>36181</td>
      <td>2016-11-12 08:22:06</td>
      <td>1278.431230</td>
      <td>12</td>
    </tr>
    <tr>
      <th>130694</th>
      <td>36181</td>
      <td>2016-11-15 10:10:42</td>
      <td>1278.431230</td>
      <td>12</td>
    </tr>
    <tr>
      <th>116056</th>
      <td>10071</td>
      <td>2016-09-22 22:27:07</td>
      <td>1278.431230</td>
      <td>3</td>
    </tr>
    <tr>
      <th>181955</th>
      <td>56771</td>
      <td>2016-09-17 11:04:59</td>
      <td>1112.921338</td>
      <td>6</td>
    </tr>
    <tr>
      <th>47861</th>
      <td>47131</td>
      <td>2016-09-21 10:42:04</td>
      <td>1112.921338</td>
      <td>1</td>
    </tr>
    <tr>
      <th>163711</th>
      <td>59691</td>
      <td>2016-11-12 09:50:08</td>
      <td>1112.921338</td>
      <td>12</td>
    </tr>
    <tr>
      <th>158845</th>
      <td>47131</td>
      <td>2016-10-22 22:28:01</td>
      <td>1112.921338</td>
      <td>1</td>
    </tr>
    <tr>
      <th>167837</th>
      <td>80162</td>
      <td>2016-11-27 10:19:03</td>
      <td>1112.921338</td>
      <td>1</td>
    </tr>
    <tr>
      <th>134684</th>
      <td>86411</td>
      <td>2016-11-30 01:41:06</td>
      <td>1112.921338</td>
      <td>12</td>
    </tr>
    <tr>
      <th>37273</th>
      <td>80162</td>
      <td>2016-08-15 14:06:17</td>
      <td>1112.921338</td>
      <td>1</td>
    </tr>
    <tr>
      <th>28189</th>
      <td>80162</td>
      <td>2016-11-11 12:57:45</td>
      <td>1112.921338</td>
      <td>1</td>
    </tr>
    <tr>
      <th>78433</th>
      <td>12318</td>
      <td>2016-09-10 11:42:24</td>
      <td>1112.921338</td>
      <td>12</td>
    </tr>
    <tr>
      <th>126599</th>
      <td>74869</td>
      <td>2016-10-28 10:32:46</td>
      <td>1112.921338</td>
      <td>1</td>
    </tr>
    <tr>
      <th>116247</th>
      <td>28608</td>
      <td>2016-09-23 14:49:20</td>
      <td>1112.921338</td>
      <td>6</td>
    </tr>
    <tr>
      <th>49946</th>
      <td>44741</td>
      <td>2016-09-28 09:16:34</td>
      <td>1112.921338</td>
      <td>1</td>
    </tr>
    <tr>
      <th>33105</th>
      <td>87842</td>
      <td>2016-11-28 22:52:04</td>
      <td>1112.921338</td>
      <td>12</td>
    </tr>
    <tr>
      <th>136014</th>
      <td>47131</td>
      <td>2016-08-06 10:40:13</td>
      <td>1112.921338</td>
      <td>3</td>
    </tr>
    <tr>
      <th>156797</th>
      <td>80162</td>
      <td>2016-10-16 08:22:27</td>
      <td>1112.921338</td>
      <td>1</td>
    </tr>
    <tr>
      <th>65497</th>
      <td>28608</td>
      <td>2016-11-24 09:00:05</td>
      <td>1112.921338</td>
      <td>6</td>
    </tr>
    <tr>
      <th>48398</th>
      <td>44786</td>
      <td>2016-09-22 19:46:08</td>
      <td>1112.921338</td>
      <td>12</td>
    </tr>
    <tr>
      <th>41544</th>
      <td>49671</td>
      <td>2016-08-31 11:19:24</td>
      <td>1112.921338</td>
      <td>12</td>
    </tr>
    <tr>
      <th>41721</th>
      <td>80162</td>
      <td>2016-09-01 05:52:47</td>
      <td>1112.921338</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6455</th>
      <td>12318</td>
      <td>2016-08-26 12:05:09</td>
      <td>1112.921338</td>
      <td>12</td>
    </tr>
    <tr>
      <th>93724</th>
      <td>80162</td>
      <td>2016-11-03 12:59:01</td>
      <td>1112.921338</td>
      <td>1</td>
    </tr>
    <tr>
      <th>72167</th>
      <td>28608</td>
      <td>2016-08-19 11:02:21</td>
      <td>1112.921338</td>
      <td>3</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>116911</th>
      <td>44966</td>
      <td>2016-09-25 19:50:13</td>
      <td>47.588662</td>
      <td>3</td>
    </tr>
    <tr>
      <th>116915</th>
      <td>82314</td>
      <td>2016-09-25 20:20:32</td>
      <td>47.588662</td>
      <td>6</td>
    </tr>
    <tr>
      <th>116647</th>
      <td>79634</td>
      <td>2016-09-24 21:16:21</td>
      <td>47.588662</td>
      <td>1</td>
    </tr>
    <tr>
      <th>116772</th>
      <td>32940</td>
      <td>2016-09-25 11:46:53</td>
      <td>47.588662</td>
      <td>12</td>
    </tr>
    <tr>
      <th>116759</th>
      <td>7291</td>
      <td>2016-09-25 11:21:45</td>
      <td>47.588662</td>
      <td>6</td>
    </tr>
    <tr>
      <th>116748</th>
      <td>37144</td>
      <td>2016-09-25 10:51:47</td>
      <td>47.588662</td>
      <td>1</td>
    </tr>
    <tr>
      <th>116648</th>
      <td>81062</td>
      <td>2016-09-24 21:17:10</td>
      <td>47.588662</td>
      <td>1</td>
    </tr>
    <tr>
      <th>116650</th>
      <td>30109</td>
      <td>2016-09-24 21:29:46</td>
      <td>47.588662</td>
      <td>1</td>
    </tr>
    <tr>
      <th>116651</th>
      <td>44785</td>
      <td>2016-09-24 21:35:21</td>
      <td>47.588662</td>
      <td>1</td>
    </tr>
    <tr>
      <th>116655</th>
      <td>36076</td>
      <td>2016-09-24 21:52:18</td>
      <td>47.588662</td>
      <td>12</td>
    </tr>
    <tr>
      <th>116660</th>
      <td>34268</td>
      <td>2016-09-24 22:26:43</td>
      <td>47.588662</td>
      <td>6</td>
    </tr>
    <tr>
      <th>116669</th>
      <td>4301</td>
      <td>2016-09-24 23:16:15</td>
      <td>47.588662</td>
      <td>1</td>
    </tr>
    <tr>
      <th>116672</th>
      <td>78485</td>
      <td>2016-09-25 00:28:14</td>
      <td>47.588662</td>
      <td>1</td>
    </tr>
    <tr>
      <th>116674</th>
      <td>57244</td>
      <td>2016-09-25 00:30:46</td>
      <td>47.588662</td>
      <td>1</td>
    </tr>
    <tr>
      <th>116675</th>
      <td>19141</td>
      <td>2016-09-25 00:43:23</td>
      <td>47.588662</td>
      <td>1</td>
    </tr>
    <tr>
      <th>116682</th>
      <td>58104</td>
      <td>2016-09-25 02:14:18</td>
      <td>47.588662</td>
      <td>12</td>
    </tr>
    <tr>
      <th>116686</th>
      <td>37506</td>
      <td>2016-09-25 04:12:26</td>
      <td>47.588662</td>
      <td>6</td>
    </tr>
    <tr>
      <th>202901</th>
      <td>13676</td>
      <td>2016-11-30 23:25:39</td>
      <td>47.588662</td>
      <td>1</td>
    </tr>
    <tr>
      <th>116687</th>
      <td>90795</td>
      <td>2016-09-25 04:49:58</td>
      <td>47.588662</td>
      <td>6</td>
    </tr>
    <tr>
      <th>116688</th>
      <td>52436</td>
      <td>2016-09-25 06:08:34</td>
      <td>47.588662</td>
      <td>1</td>
    </tr>
    <tr>
      <th>116692</th>
      <td>85795</td>
      <td>2016-09-25 06:49:05</td>
      <td>47.588662</td>
      <td>1</td>
    </tr>
    <tr>
      <th>116693</th>
      <td>35188</td>
      <td>2016-09-25 07:05:41</td>
      <td>47.588662</td>
      <td>3</td>
    </tr>
    <tr>
      <th>116698</th>
      <td>31985</td>
      <td>2016-09-25 07:56:40</td>
      <td>47.588662</td>
      <td>1</td>
    </tr>
    <tr>
      <th>116702</th>
      <td>87166</td>
      <td>2016-09-25 08:14:13</td>
      <td>47.588662</td>
      <td>1</td>
    </tr>
    <tr>
      <th>116707</th>
      <td>85130</td>
      <td>2016-09-25 08:32:54</td>
      <td>47.588662</td>
      <td>1</td>
    </tr>
    <tr>
      <th>116717</th>
      <td>28640</td>
      <td>2016-09-25 09:18:29</td>
      <td>47.588662</td>
      <td>6</td>
    </tr>
    <tr>
      <th>116720</th>
      <td>6132</td>
      <td>2016-09-25 09:26:30</td>
      <td>47.588662</td>
      <td>1</td>
    </tr>
    <tr>
      <th>138292</th>
      <td>72333</td>
      <td>2016-08-14 12:26:30</td>
      <td>34.675278</td>
      <td>1</td>
    </tr>
    <tr>
      <th>29329</th>
      <td>60127</td>
      <td>2016-11-15 13:27:05</td>
      <td>34.675278</td>
      <td>1</td>
    </tr>
    <tr>
      <th>108439</th>
      <td>54921</td>
      <td>2016-08-28 16:56:53</td>
      <td>17.593607</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
<p>202902 rows × 4 columns</p>
</div>

In [9]:
t_click.loc[:,'month']=t_click['click_time'].str.split('-').str.get(1)

/home/liwenjie/.pyenv/versions/anaconda3-4.3.1/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [11]:
feature_click

,uid,age,08_month_sum_click,09_month_sum_click,10_month_sum_click,2016-08-23_day_sum_click,2016-09-01_day_sum_click,2016-09-04_day_sum_click,2016-09-06_day_sum_click,2016-09-07_day_sum_click,...,2016-09-25_day_sum_click,2016-09-26_day_sum_click,2016-09-27_day_sum_click,2016-09-28_day_sum_click,2016-09-29_day_sum_click,2016-09-30_day_sum_click,2016-10-01_day_sum_click,2016-10-02_day_sum_click,2016-10-03_day_sum_click,2016-10-04_day_sum_click
0,26308,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,78209,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,51930,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10113,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17067,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,46744,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,31747,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,48366,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,49725,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,31333,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,87746,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,51229,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,18211,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,21994,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,61139,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2967,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,47349,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,44467,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,20195,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,3113,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,72060,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,9329,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,73019,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,56754,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,57116,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,42194,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,90012,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,55859,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,27555,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,24650,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90963,22661,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90964,51731,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90965,67400,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90966,16751,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90967,66944,35,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90968,87729,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90969,40272,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90970,61032,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90971,42029,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90972,44040,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90973,25140,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90974,36373,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90975,90149,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90976,30256,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90977,12831,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90978,66219,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90979,950,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90980,33477,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90981,70110,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90982,31590,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90983,77161,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90984,17107,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90985,40850,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90986,28075,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90987,11272,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90988,75642,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90989,14712,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90990,16152,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90991,60715,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90992,10005,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN