In [13]:
import pandas as pd
import numpy as np
t_click = pd.read_csv('data/t_click.csv')
t_loan = pd.read_csv('data/t_loan.csv')
t_loan_sum = pd.read_csv('data/t_loan_sum.csv')
t_order = pd.read_csv('data/t_order.csv')
t_user = pd.read_csv('data/t_user.csv')

In [1]:
t_loan_8 = t_loan[(t_loan['loan_time']>="2016-08-01 00:00:00") & (t_loan['loan_time']<"2016-09-01 00:00:00")]
t_loan_9 = t_loan[(t_loan['loan_time']>="2016-09-01 00:00:00") & (t_loan['loan_time']<"2016-10-01 00:00:00")]
t_loan_10 = t_loan[(t_loan['loan_time']>="2016-10-01 00:00:00") & (t_loan['loan_time']<"2016-11-01 00:00:00")]
t_loan_11 = t_loan[(t_loan['loan_time']>="2016-11-01 00:00:00") & (t_loan['loan_time']<"2016-12-01 00:00:00")]

NameError: name 't_loan' is not defined

In [2]:
import pandas as pd
import xgboost as xgb
from sklearn.cross_validation import train_test_split
# 训练特征文件
f_train = '../model_file/feature08_10.csv'
# 预测特征文件
f_predict = '../model_file/feature09_11.csv'
# 提交结果文件
f_submit = '../data/Loan_Forecasting_Upload.csv'

# 测试集比例
test_size=0.2

num_round = 16
param = {
    'max_depth': 2,
    'eta': 1,
    'silent': 1,
    'objective': 'reg:linear',
    'eval_metric': 'rmse'
}

/home/liwenjie/.pyenv/versions/anaconda3-4.3.1/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [4]:
feature = pd.read_csv("model_file/feature08_10.csv")

In [15]:
feature['active_date'] = pd.to_datetime(feature['active_date'])
feature['active_date'] = feature.active_date.values.astype(np.int64)

In [16]:
feature

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>uid</th>
      <th>age</th>
      <th>sex</th>
      <th>active_date</th>
      <th>limit</th>
      <th>8_loan_amount</th>
      <th>8_plannum</th>
      <th>9_loan_amount</th>
      <th>9_plannum</th>
      <th>...</th>
      <th>age_range</th>
      <th>10_price</th>
      <th>10_qty</th>
      <th>10_discount</th>
      <th>09_price</th>
      <th>09_qty</th>
      <th>09_discount</th>
      <th>08_price</th>
      <th>08_qty</th>
      <th>08_discount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>26308</td>
      <td>30</td>
      <td>1</td>
      <td>1455580800000000000</td>
      <td>5.974677</td>
      <td>8.585611</td>
      <td>2.0</td>
      <td>9.267390</td>
      <td>2.0</td>
      <td>...</td>
      <td>3</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>78209</td>
      <td>40</td>
      <td>1</td>
      <td>1456012800000000000</td>
      <td>5.292154</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>4</td>
      <td>21.739124</td>
      <td>28.0</td>
      <td>11.550414</td>
      <td>54.057540</td>
      <td>26.0</td>
      <td>10.231237</td>
      <td>101.161732</td>
      <td>37.0</td>
      <td>23.754469</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>51930</td>
      <td>35</td>
      <td>1</td>
      <td>1461024000000000000</td>
      <td>6.292055</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>6.405333</td>
      <td>6.0</td>
      <td>...</td>
      <td>3</td>
      <td>22.506960</td>
      <td>9.0</td>
      <td>5.494219</td>
      <td>15.002290</td>
      <td>8.0</td>
      <td>4.357432</td>
      <td>29.986491</td>
      <td>11.0</td>
      <td>20.373181</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>10113</td>
      <td>25</td>
      <td>1</td>
      <td>1457740800000000000</td>
      <td>6.292055</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>2</td>
      <td>3.260159</td>
      <td>1.0</td>
      <td>2.802755</td>
      <td>18.238711</td>
      <td>7.0</td>
      <td>5.526825</td>
      <td>54.438128</td>
      <td>15.0</td>
      <td>21.384622</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>17067</td>
      <td>35</td>
      <td>1</td>
      <td>1455580800000000000</td>
      <td>5.974677</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>3</td>
      <td>9.476437</td>
      <td>3.0</td>
      <td>0.000000</td>
      <td>22.034505</td>
      <td>7.0</td>
      <td>1.891668</td>
      <td>19.544752</td>
      <td>6.0</td>
      <td>14.481022</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>46744</td>
      <td>35</td>
      <td>1</td>
      <td>1450310400000000000</td>
      <td>5.974677</td>
      <td>6.014775</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>3</td>
      <td>133.515426</td>
      <td>69.0</td>
      <td>57.058696</td>
      <td>62.470109</td>
      <td>24.0</td>
      <td>26.417586</td>
      <td>128.437194</td>
      <td>68.0</td>
      <td>68.255120</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>31747</td>
      <td>30</td>
      <td>2</td>
      <td>1455321600000000000</td>
      <td>6.292055</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>3</td>
      <td>74.740073</td>
      <td>31.0</td>
      <td>24.286375</td>
      <td>29.449555</td>
      <td>11.0</td>
      <td>6.961119</td>
      <td>24.179514</td>
      <td>9.0</td>
      <td>7.023451</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>48366</td>
      <td>30</td>
      <td>2</td>
      <td>1453939200000000000</td>
      <td>5.974677</td>
      <td>5.781982</td>
      <td>12.0</td>
      <td>5.153538</td>
      <td>6.0</td>
      <td>...</td>
      <td>3</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>49725</td>
      <td>35</td>
      <td>1</td>
      <td>1453939200000000000</td>
      <td>5.292154</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>3</td>
      <td>75.414558</td>
      <td>35.0</td>
      <td>24.189305</td>
      <td>78.127681</td>
      <td>111.0</td>
      <td>22.718640</td>
      <td>117.312491</td>
      <td>69.0</td>
      <td>17.816956</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>31333</td>
      <td>35</td>
      <td>1</td>
      <td>1463443200000000000</td>
      <td>6.292055</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>3</td>
      <td>47.523553</td>
      <td>22.0</td>
      <td>14.414833</td>
      <td>36.063655</td>
      <td>18.0</td>
      <td>18.597181</td>
      <td>26.155929</td>
      <td>9.0</td>
      <td>3.947111</td>
    </tr>
    <tr>
      <th>10</th>
      <td>10</td>
      <td>87746</td>
      <td>30</td>
      <td>1</td>
      <td>1462492800000000000</td>
      <td>5.974677</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>3</td>
      <td>57.269219</td>
      <td>25.0</td>
      <td>26.532029</td>
      <td>19.774589</td>
      <td>7.0</td>
      <td>4.025324</td>
      <td>32.119695</td>
      <td>10.0</td>
      <td>9.680118</td>
    </tr>
    <tr>
      <th>11</th>
      <td>11</td>
      <td>51229</td>
      <td>35</td>
      <td>1</td>
      <td>1464134400000000000</td>
      <td>5.722768</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>4.544373</td>
      <td>3.0</td>
      <td>...</td>
      <td>3</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>3.657242</td>
      <td>1.0</td>
      <td>1.489896</td>
      <td>19.870665</td>
      <td>8.0</td>
      <td>2.554230</td>
    </tr>
    <tr>
      <th>12</th>
      <td>12</td>
      <td>18211</td>
      <td>35</td>
      <td>2</td>
      <td>1457568000000000000</td>
      <td>5.292154</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>3</td>
      <td>61.360786</td>
      <td>23.0</td>
      <td>16.187468</td>
      <td>31.585450</td>
      <td>10.0</td>
      <td>14.807234</td>
      <td>30.736531</td>
      <td>14.0</td>
      <td>7.660118</td>
    </tr>
    <tr>
      <th>13</th>
      <td>13</td>
      <td>21994</td>
      <td>30</td>
      <td>1</td>
      <td>1452038400000000000</td>
      <td>5.722768</td>
      <td>13.266896</td>
      <td>3.0</td>
      <td>21.367693</td>
      <td>5.0</td>
      <td>...</td>
      <td>3</td>
      <td>37.493606</td>
      <td>19.0</td>
      <td>8.586853</td>
      <td>127.739132</td>
      <td>61.0</td>
      <td>35.788950</td>
      <td>95.172885</td>
      <td>38.0</td>
      <td>21.293953</td>
    </tr>
    <tr>
      <th>14</th>
      <td>14</td>
      <td>61139</td>
      <td>35</td>
      <td>1</td>
      <td>1461628800000000000</td>
      <td>6.292055</td>
      <td>6.153414</td>
      <td>12.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>3</td>
      <td>2.866920</td>
      <td>1.0</td>
      <td>0.000000</td>
      <td>5.518595</td>
      <td>1.0</td>
      <td>0.000000</td>
      <td>2.866920</td>
      <td>1.0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>15</th>
      <td>15</td>
      <td>2967</td>
      <td>25</td>
      <td>1</td>
      <td>1453075200000000000</td>
      <td>6.292055</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>2</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>7.722706</td>
      <td>2.0</td>
      <td>2.873657</td>
    </tr>
    <tr>
      <th>16</th>
      <td>16</td>
      <td>47349</td>
      <td>40</td>
      <td>1</td>
      <td>1453939200000000000</td>
      <td>6.292055</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>4</td>
      <td>27.263800</td>
      <td>9.0</td>
      <td>3.603179</td>
      <td>11.861291</td>
      <td>5.0</td>
      <td>3.832484</td>
      <td>16.759988</td>
      <td>6.0</td>
      <td>7.990270</td>
    </tr>
    <tr>
      <th>17</th>
      <td>17</td>
      <td>44467</td>
      <td>35</td>
      <td>2</td>
      <td>1458777600000000000</td>
      <td>5.292154</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>3</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2.647676</td>
      <td>4.0</td>
      <td>3.074837</td>
    </tr>
    <tr>
      <th>18</th>
      <td>18</td>
      <td>20195</td>
      <td>25</td>
      <td>1</td>
      <td>1466467200000000000</td>
      <td>5.722768</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>11.445537</td>
      <td>2.0</td>
      <td>...</td>
      <td>2</td>
      <td>18.274529</td>
      <td>5.0</td>
      <td>12.303086</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>5.827754</td>
      <td>2.0</td>
      <td>3.376161</td>
    </tr>
    <tr>
      <th>19</th>
      <td>19</td>
      <td>3113</td>
      <td>30</td>
      <td>2</td>
      <td>1450915200000000000</td>
      <td>5.974677</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>3</td>
      <td>34.208697</td>
      <td>27.0</td>
      <td>19.087869</td>
      <td>3.721151</td>
      <td>1.0</td>
      <td>3.621728</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>20</th>
      <td>20</td>
      <td>72060</td>
      <td>25</td>
      <td>1</td>
      <td>1462233600000000000</td>
      <td>6.153414</td>
      <td>4.974843</td>
      <td>12.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>2</td>
      <td>37.050454</td>
      <td>23.0</td>
      <td>16.856007</td>
      <td>49.803307</td>
      <td>23.0</td>
      <td>25.513159</td>
      <td>49.880649</td>
      <td>17.0</td>
      <td>34.531305</td>
    </tr>
    <tr>
      <th>21</th>
      <td>21</td>
      <td>9329</td>
      <td>40</td>
      <td>1</td>
      <td>1458864000000000000</td>
      <td>5.292154</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>4</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>22</th>
      <td>22</td>
      <td>73019</td>
      <td>25</td>
      <td>2</td>
      <td>1466121600000000000</td>
      <td>6.292055</td>
      <td>4.723017</td>
      <td>12.0</td>
      <td>118.329422</td>
      <td>360.0</td>
      <td>...</td>
      <td>2</td>
      <td>66.435508</td>
      <td>192.0</td>
      <td>41.174311</td>
      <td>33.922799</td>
      <td>19.0</td>
      <td>2.243589</td>
      <td>154.593376</td>
      <td>629.0</td>
      <td>88.523562</td>
    </tr>
    <tr>
      <th>23</th>
      <td>23</td>
      <td>56754</td>
      <td>30</td>
      <td>1</td>
      <td>1466121600000000000</td>
      <td>6.292055</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>3</td>
      <td>35.415897</td>
      <td>16.0</td>
      <td>13.961224</td>
      <td>39.374600</td>
      <td>16.0</td>
      <td>15.248195</td>
      <td>40.512219</td>
      <td>14.0</td>
      <td>17.165031</td>
    </tr>
    <tr>
      <th>24</th>
      <td>24</td>
      <td>57116</td>
      <td>40</td>
      <td>2</td>
      <td>1459900800000000000</td>
      <td>6.292055</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>4</td>
      <td>15.865760</td>
      <td>8.0</td>
      <td>1.897558</td>
      <td>91.707511</td>
      <td>54.0</td>
      <td>48.650462</td>
      <td>246.974982</td>
      <td>147.0</td>
      <td>86.721782</td>
    </tr>
    <tr>
      <th>25</th>
      <td>25</td>
      <td>42194</td>
      <td>30</td>
      <td>1</td>
      <td>1462579200000000000</td>
      <td>6.292055</td>
      <td>6.153414</td>
      <td>12.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>3</td>
      <td>13.859990</td>
      <td>6.0</td>
      <td>3.641511</td>
      <td>17.820183</td>
      <td>4.0</td>
      <td>7.092054</td>
      <td>24.208423</td>
      <td>12.0</td>
      <td>11.320749</td>
    </tr>
    <tr>
      <th>26</th>
      <td>26</td>
      <td>90012</td>
      <td>25</td>
      <td>1</td>
      <td>1455321600000000000</td>
      <td>5.974677</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>2</td>
      <td>126.672330</td>
      <td>64.0</td>
      <td>62.501918</td>
      <td>86.914530</td>
      <td>49.0</td>
      <td>27.908076</td>
      <td>36.740164</td>
      <td>15.0</td>
      <td>3.381564</td>
    </tr>
    <tr>
      <th>27</th>
      <td>27</td>
      <td>55859</td>
      <td>30</td>
      <td>1</td>
      <td>1467072000000000000</td>
      <td>6.292055</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>3</td>
      <td>22.734953</td>
      <td>313408.0</td>
      <td>4.997210</td>
      <td>77.010423</td>
      <td>87635.0</td>
      <td>37.442215</td>
      <td>50.366204</td>
      <td>26.0</td>
      <td>24.785045</td>
    </tr>
    <tr>
      <th>28</th>
      <td>28</td>
      <td>27555</td>
      <td>30</td>
      <td>1</td>
      <td>1464220800000000000</td>
      <td>6.292055</td>
      <td>17.168305</td>
      <td>3.0</td>
      <td>25.257983</td>
      <td>5.0</td>
      <td>...</td>
      <td>3</td>
      <td>6.548910</td>
      <td>2.0</td>
      <td>4.405830</td>
      <td>41.400702</td>
      <td>21.0</td>
      <td>15.425119</td>
      <td>24.215177</td>
      <td>8.0</td>
      <td>9.569449</td>
    </tr>
    <tr>
      <th>29</th>
      <td>29</td>
      <td>24650</td>
      <td>30</td>
      <td>1</td>
      <td>1461456000000000000</td>
      <td>6.292055</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>3</td>
      <td>3.153383</td>
      <td>2.0</td>
      <td>3.295129</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>36.370018</td>
      <td>13.0</td>
      <td>13.367632</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>90963</th>
      <td>90963</td>
      <td>22661</td>
      <td>25</td>
      <td>1</td>
      <td>1458691200000000000</td>
      <td>5.292154</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>2</td>
      <td>52.209551</td>
      <td>15.0</td>
      <td>3.483081</td>
      <td>52.227556</td>
      <td>11.0</td>
      <td>7.347810</td>
      <td>79.386085</td>
      <td>30.0</td>
      <td>30.915146</td>
    </tr>
    <tr>
      <th>90964</th>
      <td>90964</td>
      <td>51731</td>
      <td>30</td>
      <td>1</td>
      <td>1459209600000000000</td>
      <td>5.974677</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>3</td>
      <td>111.165701</td>
      <td>71.0</td>
      <td>59.964603</td>
      <td>148.922442</td>
      <td>50.0</td>
      <td>63.248898</td>
      <td>49.543170</td>
      <td>12.0</td>
      <td>19.374294</td>
    </tr>
    <tr>
      <th>90965</th>
      <td>90965</td>
      <td>67400</td>
      <td>25</td>
      <td>1</td>
      <td>1463356800000000000</td>
      <td>5.974677</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>2</td>
      <td>38.086866</td>
      <td>18.0</td>
      <td>15.253084</td>
      <td>32.402755</td>
      <td>15.0</td>
      <td>15.710108</td>
      <td>53.107043</td>
      <td>20.0</td>
      <td>20.407050</td>
    </tr>
    <tr>
      <th>90966</th>
      <td>90966</td>
      <td>16751</td>
      <td>25</td>
      <td>1</td>
      <td>1454457600000000000</td>
      <td>5.974677</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>2</td>
      <td>9.024961</td>
      <td>5.0</td>
      <td>6.504519</td>
      <td>29.273252</td>
      <td>9.0</td>
      <td>7.460815</td>
      <td>15.323151</td>
      <td>5.0</td>
      <td>10.250686</td>
    </tr>
    <tr>
      <th>90967</th>
      <td>90967</td>
      <td>66944</td>
      <td>35</td>
      <td>1</td>
      <td>1461110400000000000</td>
      <td>5.292154</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>3</td>
      <td>8.699327</td>
      <td>4.0</td>
      <td>7.068523</td>
      <td>40.204062</td>
      <td>17.0</td>
      <td>11.792471</td>
      <td>30.834788</td>
      <td>12.0</td>
      <td>2.323822</td>
    </tr>
    <tr>
      <th>90968</th>
      <td>90968</td>
      <td>87729</td>
      <td>50</td>
      <td>1</td>
      <td>1459900800000000000</td>
      <td>5.722768</td>
      <td>19.922163</td>
      <td>4.0</td>
      <td>28.189839</td>
      <td>37.0</td>
      <td>...</td>
      <td>5</td>
      <td>13.840602</td>
      <td>6.0</td>
      <td>5.270794</td>
      <td>13.692829</td>
      <td>4.0</td>
      <td>7.021695</td>
      <td>18.463530</td>
      <td>7.0</td>
      <td>7.201891</td>
    </tr>
    <tr>
      <th>90969</th>
      <td>90969</td>
      <td>40272</td>
      <td>35</td>
      <td>2</td>
      <td>1464048000000000000</td>
      <td>5.974677</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>3</td>
      <td>86.565336</td>
      <td>33.0</td>
      <td>27.250952</td>
      <td>62.065625</td>
      <td>25.0</td>
      <td>27.605778</td>
      <td>51.876948</td>
      <td>21.0</td>
      <td>15.003425</td>
    </tr>
    <tr>
      <th>90970</th>
      <td>90970</td>
      <td>61032</td>
      <td>25</td>
      <td>1</td>
      <td>1455580800000000000</td>
      <td>5.722768</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>2</td>
      <td>20.443204</td>
      <td>9.0</td>
      <td>12.342030</td>
      <td>4.248540</td>
      <td>2.0</td>
      <td>1.251930</td>
      <td>33.460557</td>
      <td>15.0</td>
      <td>16.575845</td>
    </tr>
    <tr>
      <th>90971</th>
      <td>90971</td>
      <td>42029</td>
      <td>30</td>
      <td>1</td>
      <td>1463270400000000000</td>