In [6]:
import pandas as pd
import datetime
import numpy as np
import sys,os
os.chdir('/home/share/JD/Loan_Forecasting_Qualification/feature_extraction')
test_feature = pd.read_csv('processedByMonth/user.csv').drop('Unnamed: 0',axis=1)
train_feature = pd.read_csv('processedByMonth/user.csv').drop('Unnamed: 0',axis=1)
train_month = ['08','09','10']
test_month = ['09','10','11']
for mt in train_month:
    click = pd.read_csv('processedByMonth/click_%s_month.csv'%mt).drop('Unnamed: 0',axis=1)
    loan = pd.read_csv('processedByMonth/loan_%s_month.csv'%mt).drop('Unnamed: 0',axis=1)
    order = pd.read_csv('processedByMonth/order_%s_month.csv'%mt).drop('Unnamed: 0',axis=1)
    train_feature = pd.merge(train_feature, click,'left',on='uid')
    train_feature = pd.merge(train_feature, loan, 'left', on='uid')
    train_feature = pd.merge(train_feature, order, 'left', on='uid')

In [14]:
import pandas as pd
import datetime
import numpy as np
import sys, os
os.chdir('/home/share/JD/Loan_Forecasting_Qualification/feature_extraction')
loan_11_dif = pd.read_csv('midProcessed/loan_merge_11_diff.csv').drop(['Unnamed: 0'],axis=1)
loan_11 = pd.read_csv('midProcessed/t_loan_11.csv').drop(['Unnamed: 0'],axis=1)
loan_11_source = pd.read_csv('../data/t_loan_sum.csv')

In [25]:
loan_11.groupby(['uid','loan_time']).count().sort_values('loan_amount',ascending=False)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>loan_amount</th>
      <th>plannum</th>
      <th>one_plan_loan</th>
    </tr>
    <tr>
      <th>uid</th>
      <th>loan_time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4</th>
      <th>2016-11-27 14:10:18</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>61200</th>
      <th>2016-11-25 10:50:24</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">61177</th>
      <th>2016-11-15 18:20:41</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-16 21:36:49</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-16 22:30:16</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-22 11:43:28</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">61182</th>
      <th>2016-11-11 09:37:31</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-11 13:00:00</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-24 12:28:12</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>61191</th>
      <th>2016-11-09 11:47:17</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>61195</th>
      <th>2016-11-28 10:14:16</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>61205</th>
      <th>2016-11-11 14:38:16</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>61220</th>
      <th>2016-11-07 14:52:19</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">61207</th>
      <th>2016-11-12 07:44:07</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-13 12:18:24</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-24 13:37:29</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-30 19:08:13</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>61209</th>
      <th>2016-11-04 18:03:37</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>61211</th>
      <th>2016-11-06 22:25:10</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">61220</th>
      <th>2016-11-06 21:59:23</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-06 22:11:52</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-06 22:16:52</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">61173</th>
      <th>2016-11-29 10:27:54</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-26 15:55:41</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-25 09:19:30</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-23 08:54:00</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">61131</th>
      <th>2016-11-09 16:57:38</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-09 16:58:18</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-15 09:59:51</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-17 13:34:01</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>...</th>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th rowspan="6" valign="top">30963</th>
      <th>2016-11-04 08:54:32</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-04 09:07:24</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-12 11:04:34</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-12 18:19:03</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-15 11:42:28</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-30 17:29:42</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">30945</th>
      <th>2016-11-09 18:54:23</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-07 08:40:11</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>30904</th>
      <th>2016-11-08 19:46:01</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>30945</th>
      <th>2016-11-07 08:35:55</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="11" valign="top">30904</th>
      <th>2016-11-11 11:47:01</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-22 10:32:23</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-23 21:43:59</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-25 15:26:48</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-25 21:36:09</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-26 17:54:35</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-27 12:36:26</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-28 13:04:42</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-28 17:34:20</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-30 13:26:24</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-30 16:19:28</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>30914</th>
      <th>2016-11-05 06:57:06</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>30922</th>
      <th>2016-11-20 12:59:17</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>30926</th>
      <th>2016-11-10 15:16:34</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>30933</th>
      <th>2016-11-24 14:07:51</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">30937</th>
      <th>2016-11-15 19:17:39</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-16 09:46:42</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2016-11-21 19:57:10</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>30945</th>
      <th>2016-11-03 15:38:36</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>90991</th>
      <th>2016-11-30 12:48:18</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
<p>47855 rows × 3 columns</p>
</div>

In [13]:
train_feature.groupby(level=0).first().shape

(90993, 39)